<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#0a0a0a" media="(prefers-color-scheme: dark)">
    <meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
    <meta name="description" content="Archie Biddiscombe. Software Engineer with a focus on web technologies.">
    <link rel="icon" href="/media/favicon.ico" />
    <link rel="stylesheet" href="/main.css" />
    <title>Archie Biddiscombe</title>
  </head>
  {{ content | safe }}
</html>