<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Archie Biddiscombe. Software Engineer with a focus on web technologies.">
    <link rel="icon" href="/media/favicon.ico" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="preload" href="./font/JetBrainsMono-Regular.ttf" as="font" crossorigin>
    <title>Archie Biddiscombe</title>
  </head>
  {{ content | safe }}
</html>