---
layout: default.njk
---
<body class="p-8 sm:text-sm dark:bg-zinc-950 text-zinc-800 dark:text-zinc-100">
    <div class="max-w-sm">
        <h1 class="mb-6 font-semibold">
            Archie Biddiscombe
        </h1>
        <p class="mb-8">
            Hello! I'm a Software Engineer with a focus on web technologies, currently building frontend things at <a href="https://www.ordnancesurvey.co.uk" target="_blank">Ordnance Survey</a>.
        </p>
        <ul class="list-inside list-[square] space-y-2 marker:text-zinc-400 dark:marker:text-zinc-500">
            <li>
                <a href="https://github.com/abiddiscombe" target="_blank">
                    GitHub
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/abiddiscombe" target="_blank">
                    LinkedIn
                </a>
            </li>
            <li>
                Project: 
                <a href="https://app.notedeck.dev" target="_blank">
                    NoteDeck
                </a>
            </li>
            <li>
                Project:
                <a href="https://finder.deno.dev" target="_blank">
                    Deno Finder
                </a>
            </li>
            <li>
                Experiment: 
                <a href="https://github.com/abiddiscombe/concierge" target="_blank">
                    Concierge
                </a>
            </li>
        </ul>
    </div>
</body>
