---
layout: default.njk
---
<body class="p-8 md:text-sm dark:bg-zinc-950 text-zinc-700 dark:text-zinc-100">
    <div class="max-w-sm">
        <h1 class="mb-8">
            <a href="/" class="group">
                <span class="hidden group-hover:inline">www.</span>abiddiscombe.dev
            </a>
        </h1>
				<p class="mb-2">
						Hey, I'm Archie Biddiscombe.
				</p>
        <p class="mb-8">
            I'm a Software Engineer in the United Kingdom with a focus on web technologies, currently building frontend things at <a href="https://www.ordnancesurvey.co.uk" target="_blank">Ordnance Survey</a>. 
        </p>
        <ul class="list-inside list-[square] space-y-2">
            <li>
                <a href="https://github.com/abiddiscombe" target="_blank">
                    GitHub
                </a>
            </li>
            <li>
                <a href="https://linkedin.com/in/abiddiscombe" target="_blank">
                    LinkedIn
                </a>
            </li>
            <li>
                Project: 
                <a href="https://app.notedeck.dev" target="_blank">
                    NoteDeck
                </a>
            </li>
        </ul>
    </div>
</body>
