---
layout: default.njk
---
<body class="p-8 grid h-dvh place-items-center bg-white dark:bg-primary-950">
    <div class="text-center">
        <h1 class="mb-1 text-lg font-medium text-primary-950 dark:text-primary-50">
            Archie Biddiscombe
        </h1>
        <span class="text-primary-600 dark:text-primary-400">
            <a href="https://github.com/abiddiscombe" target="_blank" class="hover:underline underline-offset-2">GitHub</a>
            &ensp;|&ensp;
            <a href="https://linkedin.com/in/abiddiscombe" target="_blank" class="hover:underline underline-offset-2">LinkedIn</a>
        </span>
    </div>
</body>
