<header class="bg-white dark:bg-zinc-900 shadow-sm px-8 py-4 flex justify-between gap-8 items-center">
    <span class="text-xl" aria-hidden="true" id="icon-target">
        👨‍💻
    </span>
    <nav>
        <ul class="flex gap-8 items-center">
            <li>
                <a href="https://github.com/abiddiscombe" target="_blank" id="icon-trigger-github">GitHub</a>
            </li>
            <li>
                <a href="https://linkedin.com/in/abiddiscombe" target="_blank" id="icon-trigger-linkedin">LinkedIn</a>
            </li>
        </ul>
    </nav>
</header>